<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

    <insert id="create">
        insert into tbl_board (title, content, writer)
        values (#{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="BoardVO">
        select
            bno,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from
            tbl_board
        where bno = #{bno}
    </select>

    <update id="update">
        update tbl_board
        set title = #{title}, content = #{content}
        where bno = #{bno}
    </update>

    <update id="updatemap" parameterType="hashmap">
        update tbl_board
        set title = #{title}, content = #{content}
        where bno = #{bno}
    </update>


    <delete id="delete">
        delete from tbl_board
        where bno = #{bno}
    </delete>

    <delete id="deletemap" parameterType="hashmap">
        delete from tbl_board
        where bno = #{bno}
    </delete>


    <select id="listAll" resultType="BoardVO">
        select
            bno,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from
            tbl_board
        where bno &gt; 0
        order by bno desc, regdate desc
    </select>
    <!--
        <select id="listAll" resultType="org.zerock.domain.BoardVO">
     <![CDATA[
            select
                bno, title, content, writer, regdate, viewcnt
            from
                tbl_board
            where bno > 0
            order by bno desc, regdate desc
            ]]>
     </select>
    -->

    <select id="listPage" resultType="BoardVO">

        select
            bno,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from
            tbl_board
        where bno &gt; 0
        order by bno desc
        limit #{page}, 10
    </select>

    <select id="listCriteria" resultType="BoardVO">
        select
            bno, title, content, writer, regdate, viewcnt
        from
            tbl_board
        where bno &gt; 0
        order by     bno desc
        limit  #{pageStart}, ${perPageNum}
    </select>

    <select id="countPaging" resultType="int">
        select COUNT(bno)
        from tbl_board
        where bno &gt; 0
    </select>


    <sql id="search">
        <if test="searchType != null" >
            <if test="searchType == 't'.toString()">
                and title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                and content like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                and writer like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tc'.toString()">
                and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="searchType == 'cw'.toString()">
                and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="searchType == 'tcw'.toString()">
                and (   title like CONCAT('%', #{keyword}, '%')
                OR
                content like CONCAT('%', #{keyword}, '%')
                OR
                writer like CONCAT('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>

    <select id="listSearch" resultType="BoardVO">
        select
            bno, title, content, writer, regdate, viewcnt
        from
            tbl_board
        where bno &gt; 0
            <include refid="search"/>
        order by bno desc
        limit  #{pageStart}, ${perPageNum}
    </select>


    <select id="listSearchCount" resultType="int">

        select
        count(bno)
        from tbl_board
        where bno &gt; 0
        <include refid="search"/>

    </select>


</mapper>
