<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="member">

    <select id="getTime" resultType="string">
        SELECT now()
    </select>

    <insert id="insertMember">
       INSERT  INTO TBL_MEMBER
        ( USERID,
          USERPW,
          USERNAME,
          EMAIL) VALUES
       (${userId},
       ${userPw},
       ${UserName},
        ${email})
    </insert>

</mapper>
